<div class="container m-3">
  <div class="row">
    <div class="col-3">
      <%= render partial: "sidebar" %>
    </div>
    <div class="col-9">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>カテゴリー名</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td>
                <a href="<%= category_path(category) %>" class="btn btn-primary">詳細</a>
                <a href="<%= edit_category_path(category) %>" class="btn btn-warning">編集</a>
                <a href="<%= category_path(category) %>" data-confirm="Are you sure?" data-method="delete" class="btn btn-danger">削除</a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
