<div class="container m-3">
    <div class="row">
        <div class="col-3">
        <%= render partial: "sidebar" %>
        </div>
        <div class= "col-9">
            <table class="table table-striped">
            <thead>
                <tr>
                <th>コミュニティ名</th>
                <th>オーナー</th>
                <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <% @communities.each do |community| %>
                <tr>
                    <td><%= community.title %></td>
                    <td><%= community.admin.name %></td>
                    <td>
                    <a href="<%= community_path(community) %>" class="btn btn-primary">詳細</a>
                    <a href="<%= edit_community_path(community) %>" class="btn btn-warning">編集</a>
                    <a href="<%= community_path(community) %>" data-confirm="Are you sure?" data-method="delete" class="btn btn-danger">削除</a>
                    </td>
                </tr>
                <% end %>
            </tbody>
            </table>
        </div>
    </div>
</div>
