<div class="container m-3">
    <div class="row">
        <div class="col-3">
        <%= render partial: "sidebar" %>
        </div>
        <div class= "col-9">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>タイトル</th>
                    <th>オーナー</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <% @diaries.each do |diary| %>
                    <tr>
                    <td><%= diary.title %></td>
                    <td><%= diary.user.name %></td>
                    <td>
                        <a href="<%= user_diary_path(diary.user, diary) %>" class="btn btn-primary">詳細</a>
                        <a href="<%= edit_user_diary_path(diary.user, diary) %>" class="btn btn-warning">編集</a>
                        <a href="<%= user_diary_path(diary.user, diary) %>" data-confirm="Are you sure?" data-method="delete" class="btn btn-danger">削除</a>
                    </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
