<div class="container m-3">
    <div class="row">
        <div class="col-3">
        <%= render partial: "sidebar" %>
        </div>
        <div class= "col-9">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ペット</th>
                    <th>オーナー</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <% @pets.each do |pet| %>
                    <tr>
                    <td><%= pet.name %></td>
                    <td><%= pet.user ? pet.user.name : "退会したユーザー" %></td>
                    <td>
                        <a href="<%= pet_path(pet) %>" class="btn btn-primary">詳細</a>
                        <a href="<%= edit_pet_path(pet) %>" class="btn btn-warning">編集</a>
                        <a href="<%= pet_path(pet) %>" data-confirm="Are you sure?" data-method="delete" class="btn btn-danger">削除</a>
                    </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
