<div class="border" style="margin:20%; margin-top:5%; padding:3%;">

  <h2>管理者情報編集</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field mb-3">
      <%= f.label :メールアドレス, class:"form-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field mb-3">
      <%= f.label :パスワード, class:"form-label" %> <i>(変更しない場合は空欄にしてください。)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> 以上になるように入力してください。</em>
      <% end %>
    </div>

    <div class="field mb-3">
      <%= f.label :パスワード確認, class:"form-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
    </div>

    <div class="field mb-3">
      <%= f.label :現在のパスワード, class:"form-label" %> <i></i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "保存", class:"btn btn-success" %>
    </div>
  <% end %>

  <h3>アカウント削除</h3>

  <div><%= button_to "退会", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %></div>

  <%= link_to "戻る", :back %>
</div>
