<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-lg-3">
      <%= render "shared/sidebar"%>
    </div>
    <div class="col-12 col-lg-9">
      <div class="mb-5">
        <h4 class="d-flex align-items-center gap-2 fw-bold"><i class="fa fa-paw text-main"></i> ペットプロフィール</h4>
        <div class="mt-5">
          <div class="d-flex justify-content-between align-items-center gap-4">
            <div class="flex-fill ">
              <img src="images/1.png" class="aspect-1 w-100 rounded">
            </div>
            <div class="flex-fill ">
              <img src="images/1.png" class="aspect-1 w-100 rounded">
            </div>
            <div class="flex-fill ">
              <img src="images/1.png" class="aspect-1 w-100 rounded">
            </div>
          </div>
          <div class="d-flex justify-content-center flex-column align-items-center gap-2 mt-4">
            <h5 class="fw-bold">豆太郎(ペットのお名前)</h5>
            <h6 class="fw-bold">ト イプードル</h6>
            <label class="fw-bold">限定 0歳6ヶ月 東京都</label>
            <div class="d-flex justify-content-center align-items-center gap-2">
              <button style="width: 180px" class="btn flex-shrink-0 d-flex bg-main text-white fw-bold justify-content-center align-items-center gap-2">
                <i class="fa fa-users"></i> 友達申請する
              </button>
              <button style="width: 180px" class="btn flex-shrink-0 d-flex bg-light-cyan text-white fw-bold justify-content-center align-items-center gap-2">
                <i class="fa fa-users"></i> 友達申請中
              </button>
              <button style="width: 180px" class="btn flex-shrink-0 d-flex bg-main text-white fw-bold justify-content-center align-items-center gap-2">
                <i class="fa fa-check"></i> 友達登録済
              </button>
            </div>
            <button class="btn btn-lg bg-main text-white fw-bold mt-4">Myペット一覧へ</button>
          </div>
        </div>
      </div>
      <div class="mb-5">
        <h4 class="d-flex align-items-center gap-2 fw-bold"><i class="fa fa-paw text-main"></i> ペットプロフィール</h4>
        <div class="mt-5">
          <div class="row row-cols-2 row-cols-lg-3 m-0 p-0">
            <div class="px-2 mb-3 d-flex flex-column">
              <div class="rounded flex-grow-1 p-3 py-3 bg-light-yellow">
                <img src="images/1.png" alt="img" class="w-100 rounded " style="aspect-ratio: 125/100 !important">
                <h5 class="mt-3 mb-0 fw-bold">コミュニティ名が入ります</h5>
                <div class="mt-3 d-flex gap-2 align-items-center">
                  <i class="fa fa-user text-main"></i> 290人参加
                </div>
              </div>
            </div>
            <div class="px-2 mb-3 d-flex flex-column">
              <div class="rounded flex-grow-1 p-3 py-3 bg-light-yellow">
                <img src="images/1.png" alt="img" class="w-100 rounded " style="aspect-ratio: 125/100 !important">
                <h5 class="mt-3 mb-0 fw-bold">コミュニティ名が入ります</h5>
                <div class="mt-3 d-flex gap-2 align-items-center">
                  <i class="fa fa-user text-main"></i> 290人参加
                </div>
              </div>
            </div>
            <div class="px-2 mb-3 d-flex flex-column">
              <div class="rounded flex-grow-1 p-3 py-3 bg-light-yellow">
                <img src="images/1.png" alt="img" class="w-100 rounded " style="aspect-ratio: 125/100 !important">
                <h5 class="mt-3 mb-0 fw-bold">コミュニティ名が入ります</h5>
                <div class="mt-3 d-flex gap-2 align-items-center">
                  <i class="fa fa-user text-main"></i> 290人参加
                </div>
              </div>
            </div>
            <div class="px-2 mb-3 d-flex flex-column">
              <div class="rounded flex-grow-1 p-3 py-3 bg-light-yellow">
                <img src="images/1.png" alt="img" class="w-100 rounded " style="aspect-ratio: 125/100 !important">
                <h5 class="mt-3 mb-0 fw-bold">コミュニティ名が入ります</h5>
                <div class="mt-3 d-flex gap-2 align-items-center">
                  <i class="fa fa-user text-main"></i> 290人参加
                </div>
              </div>
            </div>
            <div class="px-2 mb-3 d-flex flex-column">
              <div class="rounded flex-grow-1 p-3 py-3 bg-light-yellow">
                <img src="images/1.png" alt="img" class="w-100 rounded " style="aspect-ratio: 125/100 !important">
                <h5 class="mt-3 mb-0 fw-bold">コミュニティ名が入ります</h5>
                <div class="mt-3 d-flex gap-2 align-items-center">
                  <i class="fa fa-user text-main"></i> 290人参加
                </div>
              </div>
            </div>
            <div class="px-2 mb-3 d-flex flex-column">
              <div class="rounded flex-grow-1 p-3 py-3 bg-light-yellow">
                <img src="images/1.png" alt="img" class="w-100 rounded " style="aspect-ratio: 125/100 !important">
                <h5 class="mt-3 mb-0 fw-bold">コミュニティ名が入ります</h5>
                <div class="mt-3 d-flex gap-2 align-items-center">
                  <i class="fa fa-user text-main"></i> 290人参加
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn bg-main text-white bw-bold px-4">
            一覧へ
          </button>
        </div>
      </div>
      <div class="mb-5">
        <h4 class="d-flex align-items-center gap-2 fw-bold"><i class="fa fa-paw text-main"></i> メッセージ</h4>
        <div class="mt-5">
          <div class="rounded border">
            <div class="px-4 py-3 border-bottom bg-light-yellow rounded-t">
              <h6 class="fw-bold text-decoration-underline">リチャードさんにメッセージを送る</h6>
            </div>
            <div class="">
              <div class="px-4 py-3 border-bottom-dotted">
                <div class="d-flex justify-content-between align-items-center gap-2">
                  <input class="form-control">
                  <button class="btn bg-main text-white fw-bold text-truncate flex-shrink-0">投稿</button>
                </div>
              </div>
              <div class="px-4 py-3 border-bottom-dotted">
                <div class="d-flex justify-content-between align-items-start gap-4">
                  <div class="d-flex justify-content-center align-items-center rounded-circle bg-secondary flex-shrink-0" style="width: 40px; height: 40px">
                    <i class="fa fa-user"></i>
                  </div>
                  <div class="mt-0">
                    <label>氏名 12月21日</label>
                    <div class="mt-2">
                      <label>> 名前さん</label>
                      <p>メッセージテキストがはいります。メッセージテキストがはいります。メッセージテキストがはいります。 メッセージテキストがはいります。メッセージテキストがはいります。</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="px-4 py-3 border-bottom-dotted">
                <div class="d-flex justify-content-between align-items-start gap-4">
                  <div class="d-flex justify-content-center align-items-center rounded-circle bg-secondary flex-shrink-0" style="width: 40px; height: 40px">
                    <i class="fa fa-user"></i>
                  </div>
                  <div class="mt-0">
                    <label>氏名 12月21日</label>
                    <div class="mt-2">
                      <label>> 名前さん</label>
                      <p>メッセージテキストがはいります。メッセージテキストがはいります。メッセージテキストがはいります。 メッセージテキストがはいります。メッセージテキストがはいります。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-none">
        <div class="container notifications-container p-3 scrollable-div">
          <table>
            <% @notifications.order(created_at: :desc).each do |notification| %>
              <tr>
                <td class="badge text-bg-primary">メッセージ </td>
                <td><%= notification.created_at.strftime('%Y-%m-%d') %></td>
                <td><%= link_to notification.to_notification.message, notification_path(notification) %></td>
              </tr>
            <% end %>
          </table>
        </div>
        <h6  class="mt-4 d-flex align-items-center gap-2 fw-bold"><i class="fa fa-paw text-main"></i> メッセージ</h6>
        <div class="container notifications-container p-3 scrollable-div">
          <table>
            <% @messages.order(created_at: :desc).each do |message| %>
              <tr>
                <td class="badge text-bg-primary">メッセージ </td>
                <td><%= message.created_at.strftime('%Y-%m-%d') %></td>
                <td>
                  <% user = User.with_deleted.find_by(id: message.sender_id) %>
                  <% if user && !user.deleted_at %>
                    <%= link_to display_pet_or_username(user), message_path(message.sender) %>
                  <% else %>
                    <%= link_to display_pet_or_username(user), mark_as_read_message_path(message), method: :patch %>
                  <% end %>
                </td>
                <td><%= message.text %></td>
              </tr>
            <% end %>
          </table>
        </div>
        <h6  class="mt-4 d-flex align-items-center gap-2 fw-bold"><i class="fa fa-paw text-main"></i> 足あと</h6>
        <div class="container notifications-container p-3 scrollable-div">
          <table>
            <% @visits.order(created_at: :desc).each do |visit| %>
              <% visitor = User.with_deleted.find(visit.visitor_id) %>
              <tr>
                <td><%= visit.created_at.strftime('%Y-%m-%d') %></td>
                <td><%= visit.created_at.strftime('%H:%M:%S') %></td>
                <td>
                  <%= image_tag display_pet_image(visitor), class: 'small-profile-image' %>
                  <%= link_to display_pet_or_username(visitor), visit_read_path(visit) %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
        <h6  class="mt-4 d-flex align-items-center gap-2 fw-bold"><i class="fa fa-paw text-main"></i> お気に入りのイベント</h6>
        <div class="container notifications-container communities p-3 scrollable-div-horizontal">
          <% @favorited_events.each do |event| %>
            <div class="col col-lg-3 p-0 mt-3 border-end">
              <div class="card m-4">
                <% if event.image.attached? %>
                  <img src="<%= url_for(event.image) %>" class="card-img-top" alt="...">
                <% end %>
                <div class="card-body">
                  <%= link_to event.title.truncate(10), community_event_path(event.community, event) %>
                  <p class="card-text wrap-text"><%= event.details.truncate(100) %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <h6  class="mt-4 d-flex align-items-center gap-2 fw-bold"><i class="fa fa-paw text-main"></i> Myコミュニティ一覧</h6>
        <div class="container notifications-container communities p-3 scrollable-div-horizontal">
          <% @communities.each do |community| %>
            <div class="col col-lg-3 p-0 mt-3 border-end">
              <div class="card m-4">
                <% if community.image.attached? %>
                  <img src="<%= url_for(community.image) %>" class="card-img-top" alt="...">
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= link_to community.title.truncate(10), community_path(community) %></h5>
                  <p class="card-text wrap-text"><%= community.description.truncate(100) %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <h6  class="mt-4 d-flex align-items-center gap-2 fw-bold"><i class="fa fa-paw text-main"></i> Myイベント一覧</h6>
        <div class="container notifications-container communities p-3 scrollable-div-horizontal">
          <% @events.each do |event| %>
            <div class="col col-lg-3 p-0 mt-3 border-end">
              <div class="card m-4">
                <% if event.image.attached? %>
                  <img src="<%= url_for(event.image) %>" class="card-img-top" alt="...">
                <% end %>
                <div class="card-body">
                  <%= link_to event.title.truncate(10), community_event_path(event.community, event) %>
                  <p class="card-text wrap-text"><%= event.details.truncate(100) %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
