<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <% displayed_pet = @user.pets.find_by(profile_display: true) || @user.pets.first %>

          <% if displayed_pet && displayed_pet.image.attached? %>
            <img src="<%= url_for(displayed_pet.image) %>" class="card-img" height="250">
            <h5><%= displayed_pet.name %></h5>
            <p><%= displayed_pet.pet_type %><%= displayed_pet.age %> 歳</p>
          <% else %>
            <img src="<%= asset_path('profile.jpg') %>" class="card-img" height="250">
          <% end %>
        </div>
      </div>

      <!-- Display friends -->
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">友達:</h5>
          <% if @user.friends.any? %>
            <div class="d-flex flex-wrap">
              <% @user.friends.each do |friend| %>
                <div class="friend-block mb-3">
                  <% if display_pet_image(friend)%>
                    <div>
                      <img src="<%= url_for(display_pet_image(friend)) %>" class="card-img" style="object-fit: cover; object-position: center; height: 80px; width: 80px;">
                    </div>
                  <% end %>
                  <div style="width: 80px; word-wrap: break-word;">
                    <%= link_to display_pet_or_username(friend), user_path(friend) %>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <p>友達がまだいません。</p>
          <% end %>
        </div>
      </div>
    </div>

<div class="col-md-8">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">会員情報</h5>
      <div class="row">
        <div class="col-md-12">
          <p class="card-text">ID: <%= @user.id %></p>
        </div>
        <div class="col-md-12">
          <p class="card-text">名前: <%= @user.name %></p>
        </div>
        <div class="col-md-12">
          <p class="card-text">ペットの数: <%= @user.pets.count %></p>
        </div>
        <div class="col-md-12">
          <p class="card-text">ペットの種類: <%= @user.pets.map(&:category).map(&:name).join(", ") %></p>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <p class="card-text">場所: <%= [@user.prefecture, @user.city].compact.join %></p>
          </div>
      </div>


        <% if current_user && current_user != @user %>
          <div class="d-flex align-items-center">
            <% if current_user.sent_friend_requests.exists?(recipient: @user) %>
              <span class="badge bg-warning text-dark ms-2">承認待ち</span>
            <% elsif current_user.received_friend_requests.exists?(sender: @user) %>
              <%= link_to "承認", accept_friend_request_path(current_user.received_friend_requests.find_by(sender: @user)), method: :put, class: "btn btn-success ms-3" %>
              <%= link_to "拒否", reject_friend_request_path(current_user.received_friend_requests.find_by(sender: @user)), method: :delete, class: "btn btn-danger ms-3" %>
            <% elsif current_user.friendships.exists?(friend: @user) %>
              <span class="badge bg-primary text-light ms-2">友達</span>
              <%= link_to "メッセージ", message_path(@user), class: "btn btn-primary ms-2"  %>
              <%= link_to "日記", user_diaries_path(@user), class: "btn btn-success" %>
              <%= link_to "友達をやめる", friendship_path(@user), method: :delete, class: "btn btn-danger" %>
            <% else %>
              <%= form_with(model: current_user.sent_friend_requests.build, url: friend_requests_path, :html => { :style => 'display: inline;' }) do |f| %>
                <%= f.hidden_field :recipient_id, value: @user.id %>
                <%= f.submit "友達申請", class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>



  </div>
</div>
