<%
=begin%>
<div class="card profile-pic-card rounded bg-main py-4">
  <% pet_image_url = display_pet_image(current_user) %>
  <img src="<%= pet_image_url %>" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text text-center">
      <%= link_to display_pet_or_username(current_user), user_path(current_user) %>
    </p>
  </div>
</div>
<%
=end%>
<%# Added by Eliot on 2023-12-12 %>
<div class="sidebar-container">
  <div class="px-4 py-4 bg-main rounded ">
    <div class="px-4 py-4 bg-light rounded fw-bold">
      <h4 class="text-center fw-bold mb-4">会員名さま</h4>
      <div class="mt-2 bg-white py-3">
        <div class="text-center mb-3">お知らせ</div>
        <div class=" d-flex align-items-center flex-column gap-2">
          <div class="d-flex gap-2 align-items-center"><i class="fa fa-bell"></i> <label>通知:2件</label></div>
          <div class="d-flex gap-2 align-items-center"><i class="fa fa-envelope"></i> <label>メール:2件</label></div>
        </div>
      </div>
    </div>
    <button class="btn btn-lg w-100 btn-block text-main fw-bold py-3 bg-white mt-3">ログアウト</button>
  </div>
  <div class="text-center py-4">
    <div class="d-flex fw-bold text-main justify-content-center gap-2 align-items-center">
      <i class="fa fa-users"></i> 友達リクエスト2件
    </div>
  </div>
  <div>
    <button class="d-flex justify-content-center gap-1 align-items-center bg-normal-yellow text-white py-3 btn w-100 fw-bold">
      <i class="fa fa-pencil"></i> 日記を書 <i class="fa fa-angle-left"></i>
    </button>
    <div class="mt-3 text-center d-flex justify-content-center gap-2 align-items-center fw-bold">
      <i class="fa fa-paw"></i> <span>訪問回数:</span> <span>12回</span>
    </div>
  </div>
  <div class="mt-5">
    <div class="d-flex align-items-center gap-2 fw-bold">
      <i class="fa fa-search"></i>  ペットを探す
    </div>
    <div class="input-group mt-2">
      <input type="text" class="form-control border border-dark" placeholder="例: ヨークシャーテリア">
      <div class="input-group-btn fw-bold">
        <button class="btn bg-light-main fw-bold text-white border-dark" style="border-left-color: transparent; border-top-left-radius: 0; border-bottom-left-radius: 0;" type="submit">
          <i class="fa fa-search"></i> 検索
        </button>
      </div>
    </div>
  </div>
  <div class="icon-container d-none">
    <div class="icon">
      <%= link_to notifications_path do %>
        <i class="fas fa-bell"></i> (<%= current_user.notifications.unread.count %>)
      <% end %>
    </div>
    <div class="icon">
      <%= link_to messages_path do %>
        <i class="fas fa-envelope"></i> (<%= current_user.messagee.unread.count %>)
      <% end %>
    </div>
    <div class="icon">
      <%= link_to visits_path do %>
        <i class="fas fa-shoe-prints"></i> (<%= Visit.where(visited_id: current_user.id, created_at: Time.zone.today.all_day).unread.count %>)
      <% end %>
    </div>
  </div>
  <div class="mt-5">
    <h5 class="pb-2 fw-bold text-light-main border-bottom border-2 border-light-main">マイページメニュー</h5>
    <div class="mt-4 sidebar-panel">
      <div class="">
        <div class="sidebar-item">
          <%= link_to "Myトピック", edit_user_registration_path %>
        </div>
        <div class="sidebar-item">
          <%= link_to "Myイベント", "my_events" %>
        </div>
        <div class="sidebar-item">
          <%= link_to "メールボックス", edit_user_registration_path %>
        </div>
        <div class="sidebar-item">
          <%= link_to "新着情報", edit_user_registration_path %>
        </div>
        <div class="sidebar-item">
          <%= link_to "プロフィール編集", edit_user_registration_path %>
        </div>
        <div class="sidebar-item">
          <%= link_to "設定", edit_user_registration_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5  sidebar-panel">
    <h5 class="pb-2 fw-bold text-light-main border-bottom border-2 border-light-main">Petterのサービス</h5>
    <div class="mt-4">
      <div class="">
        <div class="sidebar-item">
          <%= link_to "コミュニティ", "communities" %>
        </div>
        <div class="sidebar-item">
          <%= link_to "トピック", "all_posts" %>
        </div>
        <div class="sidebar-item">
          <%= link_to "イベント", "all_events" %>
        </div>
        <div class="sidebar-item">
          <%= link_to "新着情報", "all_pests" %>
        </div>
        <div class="sidebar-item">
          <%= link_to "ペットに関するニュース", edit_user_registration_path %>
        </div>
        <div class="sidebar-item">
          <%= link_to "ランキング", edit_user_registration_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 d-none">
    <h6>サービス</h6>
    <div class="sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to "Myコミュニティ一覧", my_communities_path %>
          <i class="fas fa-chevron-right"></i>
        </li>
        <li class="nav-item">
          <%= link_to "Myイベント一覧", my_events_path %>
          <i class="fas fa-chevron-right"></i>
        </li>
        <li class="nav-item">
          <%= link_to "コミュニティ一覧", communities_path %>
          <i class="fas fa-chevron-right"></i>
        </li>
        <li class="nav-item">
          <%= link_to "トピック一覧", all_posts_path %>
          <i class="fas fa-chevron-right"></i>
        </li>
        <li class="nav-item">
          <%= link_to "イベント一覧", all_events_path %>
          <i class="fas fa-chevron-right"></i>
        </li>
        <li class="nav-item">
          <%= link_to "日記", my_diaries_path %>
          <i class="fas fa-chevron-right"></i>
        </li>
        <li class="nav-item">
          <%= link_to "Q&A", questions_path %>
          <i class="fas fa-chevron-right"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="mt-4 d-none">
    <h6>設定</h6>
    <div class="sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to "会員情報変更", edit_user_registration_path %>
          <i class="fas fa-chevron-right"></i>
        </li>
        <li class="nav-item">
          <%= link_to "ペット情報変更", my_pets_path %>
          <i class="fas fa-chevron-right"></i>
        </li>
        <li class="nav-item">
          <%= link_to "設定変更", root_path %>
          <i class="fas fa-chevron-right"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
