<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-end">
    <div class="d-flex justify-content-start align-items-center gap-3">
      <div class="bg-light d-flex justify-content-center align-items-center flex-shrink-0" style="width: 120px; height: 120px">
        <span class="d-flex justify-content-center align-items-center w-100 h-100">
          <i class="fa fa-image fa-3x"></i>
        </span>
      </div>
      <div>
        <h5 class="fw-bold mb-4">コミュニティ名のイベント一覧</h5>
        <button class="btn bg-main text-white fw-bold">+コミュニティ参加する</button>
      </div>
    </div>
    <div style="width: 200px" class="mb-3">
      <%= form_tag(pets_path, method: :get, class: "input-group border border-dark rounded") do %>
        <%= text_field_tag :search, params[:search], placeholder: "ペットを探す", class: "form-control" %>
        <div class="input-group-btn fw-bold">
          <button class="btn bg-transparent fw-bold" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mt-5">
    <ul class="mtabs d-flex nav-fill" id="myTab" role="tablist">
      <li class="mtab" role="presentation">
        <%= link_to 'すべて', all_content_path, class: "nav-link", id: "pots-tab", 'aria-controls': "posts", 'aria-selected': "false" %>
      </li>
      <li class="mtab" role="presentation">
        <%= link_to 'コミュニティ', communities_path, class: "nav-link", id: "communities-tab", 'aria-controls': "communities", 'aria-selected': "false" %>
      </li>
    </li>
    <li class="mtab" role="presentation">
      <%= link_to 'トピック', all_posts_path, class: "nav-link", id: "posts-tab", 'aria-controls': "posts", 'aria-selected': "false" %>
    </li>
    <li class="mtab active" role="presentation">
      <a class="nav-link active" id="events-tab" data-bs-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">イベント</a>
    </li>
  </ul>
  <div class="mt-4">
    <div class="my-4 mb-5">
      <ul class="d-flex justify-content-center gap-3 align-items-center mpagination mt-5">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>...</li>
        <li>20</li>
      </ul>
    </div>
    <div class="mx-auto" style="max-width: 767px">
      <div class="bg-light-grey px-4 py-4 rounded">
        <div class="d-flex gap-3">
          <div>
            <div>
              <div class="d-flex justify-content-start align-items-center gap-2 mb-2">
                <button class="btn bg-main rounded-0 text-white fw-bold flex-shrink-0" style="width: 120px">募集中</button>
                <span class="text-decoration-underline fw-bold text-lg">【第12回】 わんにゃん交流イベント</span>
              </div>
              <div class="d-flex justify-content-start align-items-center gap-2 mb-2">
                <button class="btn bg-transparent border border-dark rounded-0 fw-bold flex-shrink-0" style="width: 120px">開催日時</button>
                <span class="">2023年12月22日(9:00~12:00)</span>
              </div>
              <div class="d-flex justify-content-start align-items-center gap-2 mb-2">
                <button class="btn bg-transparent border border-dark rounded-0 fw-bold flex-shrink-0" style="width: 120px">開催場所</button>
                <span class="">宮城県(仙台市泉区)</span>
              </div>
            </div>
            <p>
              コミュニティの概要テキストが入ります。テキストが入ります。テキストが入ります。テキ ストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキス トが入ります。
            </p>
            <div class="mt-2">
              <div class="d-flex justify-content-between align-items-center gap-2">
                <div class="flex-fill">
                  <div class="bg-light-grey d-flex justify-content-center align-items-center" style="aspect-ratio: 1.2/1">
                    <i class="fa fa-image fa-4x text-light-grey"></i>
                  </div>
                </div>
                <div class="flex-fill">
                  <div class="bg-light-grey d-flex justify-content-center align-items-center" style="aspect-ratio: 1.2/1">
                    <i class="fa fa-image fa-4x text-light-grey"></i>
                  </div>
                </div>
                <div class="flex-fill">
                  <div class="bg-light-grey d-flex justify-content-center align-items-center" style="aspect-ratio: 1.2/1">
                    <i class="fa fa-image fa-4x text-light-grey"></i>
                  </div>
                </div>
                <div class="flex-fill">
                  <div class="bg-light-grey d-flex justify-content-center align-items-center" style="aspect-ratio: 1.2/1">
                    <i class="fa fa-image fa-4x text-light-grey"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-2 d-flex justify-content-end align-items-center gap-3">
              <div class="d-flex align-items-center gap-2">
                <i class="fa fa-user text-main"></i>
                <span>10/15人</span>
              </div>
              <div class="d-flex align-items-center gap-2">
                <i class="fa fa-comment text-main"></i>
                <span>233</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-4 mb-5">
      <ul class="d-flex justify-content-center gap-3 align-items-center mpagination mt-5">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>...</li>
        <li>20</li>
      </ul>
    </div>
  </div>
  <div class="tab-content mt-5 d-none" id="myTabContent">
    <div class="tab-pane fade show active" id="events" role="tabpanel" aria-labelledby="all-tab">
      <div class="">
        <div class="mt-2 d-none">
          <div class="col-5 col-md-3 m-1">
            <%= form_tag(all_events_path, method: :get) do %>
              <%= text_field_tag(:query, params[:query], class: "form-control", placeholder: "検索") %>
            </div>
            <div class="col-5 col-md-2 m-1">
              <%= submit_tag "検索", class: "btn btn-warning" %>
            <% end %>
          </div>
          <div class="col-5 col-md-4 m-1 overlay">
            <%= form_tag(all_events_path, method: :get) do %>
              <button type="button" class="btn btn-primary" id="filterButton">検索条件変更</button>
              <div id="filterBox" class="border" style="display: none;">
                <div class="form-group">
                  <label for="Date">日時:</label>
                  <%= date_field_tag(:start_date, params[:start_date], class: "form-control", placeholder: "From") %>
                  <%= date_field_tag(:end_date, params[:end_date], class: "form-control", placeholder: "To") %>
                </div>
                <div class="form-group">
                  <label for="placeSelect">場所:</label>
                  <%= text_field_tag(:place, params[:place], class: "form-control", placeholder: "場所") %>
                </div>
                <div class="form-group">
                  <label for="orderBySelect">並び替え:</label>
                  <%= select_tag(:order_by, options_for_select([["並び替え", ""], ["更新日", "updated_date"], ["開催日", "event_date"], ["参加人数", "participants"]], params[:order_by]), class: "form-select", id: "orderBySelect") %>
                </div>
                <div class="text-end">
                  <%= button_tag(type: :submit, class: "btn btn-sm btn-primary") do %>
                    適用する
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-md-12 m-1 d-none">
          <p>イベントの検索結果：<%= @events.size %>件</p>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <%= render "events/shared/sidebar" %>
          </div>
          <div class="col-lg-9">
            <div class="d-flex justify-content-end aling-items-end">
              <a class="d-flex text-decoration-underline align-items-center gap-1">
                <i class="fa fa-pencil"></i> 詳細を編集する
              </a>
            </div>
            <div class="mt-3">
              <% @events.each do |event| %>
                <div class="mb-4">
                  <div class="card mb-4">
                    <% if event.image.attached? %>
                      <img src="<%= url_for(event.image) %>" class="card-img-top" alt="...">
                    <% end %>
                    <div class="card-body">
                      <h5 class="card-title"><%= link_to event.title, community_event_path(event.community, event) %></h5>
                      <p class="card-text"><%= event.details.truncate(100) %></p>
                      <p class="card-text">開催場所: <%= event.event_place %></p>
                      <p class="card-text">開催日時: <%= event.event_date %></p>
                      <p class="card-text">定員: <%= event.people_limit %></p>
                      <p class="card-text">主催者: <%= display_pet_or_username(event.user) %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
