<!DOCTYPE html>
<html>
  <head>
    <title>PetsPortal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if admin_signed_in? %>
      <%= render "shared/admin_navigation" %>
    <% else %>
      <%= render "shared/navigation" %>
    <% end %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
